
/************************** Cancel extended ************************/

body a:hover {
    text-decoration: none;
}


/************************** end of Cancel extended ************************/


.label {
	margin-left: 3px;
}

ul {
  list-style-type: none;
}
ul li, ol li {
    padding-bottom: 20px;
}

li.draft h3 {
    color: pink;
}

.content-header {
    margin-bottom: 40px;
}

.sofia-wrap {
	max-width: 900px;
	padding: 10px 50px;
  min-height: 500px;
}

.comment button {
  display: none;
  position: relative;
  top: -50px;
}

.comment:hover button {
  display: block;
}

.new-comment-form {
	/*width: 70%;*/
}

.btn-info {
    color: #fff !important;
    background: #5bc0de !important;
    border-color: #46b8da !important;
}

.list-group {
    margin-bottom: 0px; 
}

.btn-default, .btn-default:focus {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}

.btn-default:hover {
    color: #fff;
    background-color: #6f5499 !important;
}

.btn-active, .btn-active:focus {
	color: #fff;
	background-color: #6f5499;
}

.btn-active:hover {
	color: #fff;
	background-color: #7d65a3;
}

.form-control:focus,
.ta-root.focussed > .ta-scroll-window.form-control {
	border-color: #6f5499;
}

.article-footer {
	margin-bottom: 40px;
    text-align: right;
}

blockquote {
    border-left: 5px solid #6f5499;
}

.has-error .tags {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: 0 0 3px 1px rgba(5,139,242,.6);
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.tag-add-nav {
  display: none;
}
.tag-bundle:hover .tag-add-nav {
  display: inline;
  margin-left: -3px;
}

.tag-link {
  cursor: pointer;
}



.dropZone, .drop_area {
  width: 100%; 
  margin-top: 2px;
  line-height: 7em;
  min-height: 27px !important;
  border: 2px dashed #d9d9d9;
  background: #f7f7f7;
  text-align: center;
}
.dropZone:hover, .drop_area:hover {
  border: 2px dashed #c1c1c1;
  background: #ebebeb;
}

.dz-drag-hover {
  opacity: 0.1 !important;
  background: #999;
}

.dropZone-error, .drop_area-error {
      border-color: #b37a7a!important;
}
  
.drop_area .lbl, .dropZone .lbl {
  position: relative;
  display: inline-block;
  vertical-align:middle;
  width: 75%;
  top: auto;
  left: auto;
  right: auto;
  text-align: center;
  color: #999;
  line-height: 2em;
}

.attachments-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.attachment-item {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 26px;
    line-height: 25px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
}

.attachment-item .remove-button {
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 700 16px Arial,sans-serif;
    color: #585858;
}

.tags .category {
  color: #777;
  background-color: #fff;
  border-color: #777;
  border-style: solid;
  border-width: 1px;
}

.title-page td {
  padding: 10px;
  vertical-align: top;
}

.title-page .title {
  text-align: center;
  padding: 10px 0;
  border-style: double none;
  margin: 30px 0;
}

.article-wrap .title {
  margin-bottom: 30px;
}

.article-wrap .short-description {
  margin-bottom: 30px;
}

.article-wrap .body {
  border-top-style: outset;
}

.article-wrap .syntaxhighlighter .toolbar {
  display: none;
}

/************************** Title Page ************************/

.edit-titlepage .item .btn-remove {
  float: right;
  display: none;
}

.edit-titlepage .item:hover .btn-remove {
  display: inline-block;
}

.title-page .item .body {
  margin-top: 10px;
  color: black;
}

.title-page .item .body pre {
  overflow: hidden;
}

.title-page .item .item-content {
  height: 100%;
  overflow: hidden;
}

.title-page .articles-backlog,
.title-page .articles-backlog ul {
  padding: 0;
}

.title-page .articles-backlog li {
  margin: 0;
}

.title-page .articles-backlog.panel-primary {
  border-color: #6f5499;
}

.title-page .articles-backlog .panel-heading {
  background-color: #6f5499;
}

.title-page .author {
  font-style: italic;
  text-align: right;
}

.title-page .short-desc {
  color: black;
}

/************************** Menu ************************/

.navbar {
  background-color: #6f5499;
}

.navbar-default .navbar-nav li {
  padding: 0;
  margin: 5px 0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #ddd;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav li.dropdown {
  padding: 0;
  margin: 5px 0;
  border-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.navbar-default .navbar-nav li.dropdown.open {
  background-color: #6f5499;
  border-color: #ddd;
  color: #fff;
}

.navbar-default .navbar-nav li.dropdown.active {
  background-color: #ddd;
  border-color: #ddd;
}

.navbar-default .navbar-nav li.dropdown>a {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar-default .navbar-nav li.dropdown.active>a {
  color: #6f5499 !important;
}

.navbar-default .navbar-nav .breadcrumb {
  margin-bottom: 0px;
  margin-left: 50px;
  padding: 10px;
  background-color: transparent;
}

.navbar-nav .breadcrumb li a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ddd;
}

.navbar-nav .breadcrumb li a:hover {
  color: #fff;
}

.navbar .navbar-header {
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 2px;
  padding: 6px 14px 6px 0;
}

    